header {
    margin: 30px auto;
    text-align: center;
}
header h1 {
    font-weight: 900;
    font-family: "Helvetica Neue", "Arial", sans-serif;
}

.hidden {
    display: none;
}

.result-container {
    margin-top: 20px;
}
.total-result {
    font-size: 25px;
    font-weight: 800;
}
.total-result span {
    font-size: 150%;
}

.imgs-container {}
.imgs-page {}
.img-wrapper {
    position: relative;
    display: table;
    float: left;
    margin: 5px;
    overflow: hidden;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 0 5px #777;
    transition: all .2s;
}
.img-wrapper:hover {
    box-shadow: 0 0 10px #777;
    transform: scale(1.05);
}
.img-wrapper span {
    display: table-cell;
    vertical-align: middle;
}
.img-wrapper .img-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;   
}

.pager {
    width: 100%;
    margin: 20px 0;
    text-align: center;
}
.pager > span {
    display: inline-block;
    margin: 0 10px;
    font-size: 18px;
}